@import '../../main.scss';

.cart {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 999;
    background-color: white;
    border: $border;
    padding: 30px;
    width: 100%;
    
    @include desktop {
        right: 300px;
        width: 500px;
        border-radius: 10px;
    }

    &__list {
        @include flex;
        padding: 20px;
        
        p {
            @include font(14px, "TKT-M", $grey);
        }
    
    }
}