@import '../../main.scss';

.domain--list {
    background-color: white;
    border: $border;
    width: 100%;
    padding: 20px;
    @include desktop {
        border-radius: 15px;
        max-width: 1007px;
    }
}