@import '../../main.scss';

.content__box {
    display: flex;
    justify-content: space-between;
    max-width: 1286px;
    margin: 0 auto;

    &--left > p {
        display: none;
        @include font(16px, 'TKT-B', $grey);

        span {
            color: $black;
        }
        @include desktop {
            display: block;
        }

    }
    .search--result {
        border: $border;
        width: 315px;
        height: 60px;
        padding: 20px 20px;
        margin: 70px auto;
        display: none;
        @include desktop {
            @include flex;
        }

        p {
            @include font(16px, "TKT-M", $black);
        }
    }

    &--right {
        width: 100%;
        @include desktop {
            width: calc(100% - 420px);
        }
    }
}