@import '../../main.scss';

.banner {
    width: 100%;
    max-width: 1286px;
    max-height: 180px;
    margin-top: 102px;
    display: inline-block;
    position: relative;
    @include desktop {
        margin: 30px auto 40px auto;
        display: block;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 120px;
        @include desktop {
            border-radius: 15px;
            height: 180px;
        }
    }

    h2 {
        position: absolute;
        @include content-center;
        @include font(20px, 'TKT-B', white);
        @include desktop {
            font-size: 36px;
            text-align: center;
            width: 100%;
        }
    }
}